doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.left
      block navigation
    div.right
      block content
  footer
    h3 hi there pal
